h1 {
    color: green;
}
  
.gfg {
    cursor: pointer;
}
  
.gfg::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 8px;
}
  
.cover {
    display: none;
}
  
.active {
    display: block;
}
  
ol [type=a] {
    background-color: yellow;
    color: purple;
}