body {
    overflow-x: hidden;
}

.dropdown-header {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

#top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}

#page-title {
    text-align: center;
    flex-grow: 1;
}

.class-column {
    margin: 0;
}

.class-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.dropdown-header::before {
    color: black;
    display: inline-block;
    margin-right: 8px;
}

.dropdown-header-arrow {
    border-bottom: 12px solid black;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    width: 0;
    transform: rotate(90deg);
    justify-self: center;
    align-self: center;
    display: inline-block;
}

.active .dropdown-header-arrow {
    transform: rotate(180deg);
}
  
.dropdown-box {
    list-style-type: disc;
    display: block;
}

.hide {
    display: none;
}

#class-container {
    display: grid;
    grid-template-columns: 50vw 50vw;
}

p {
    padding: 0;
    margin: 0;
}

.dropdown-box li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.assignment-btn {
    text-align: center;
    padding: 3px 6px;
    border-radius: 5px;
}

.assignment-btn:hover {
    background-color: rgb(255, 103, 89);
}

.assignment-btn:focus {
    background-color: rgb(227, 60, 46);
}