body {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

p {
    padding: 0;
    margin: 0;
}

label {
    margin-right: 5px;
}

input {
    width: 200px;
}

.link-btn {
    padding: 5px;
}

.container-column {
    margin: 0;
    padding: 0px;
    margin: 0px 15px;
}

.class-header {
    cursor: pointer;
    color: white;
    background-color: darkslategray;
    padding: 7px;
    border-radius: 10px;
}

.class-header.active {
    border-radius: 10px 10px 0px 0px;
}

.class-header::before {
    color: black;
    display: inline-block;
    margin-right: 8px;
}

.class-header-arrow {
    border-bottom: 12px solid lightcoral    ;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    width: 0;
    transform: rotate(90deg);
    justify-self: center;
    align-self: center;
    display: inline-block;
}

.active .class-header-arrow {
    transform: rotate(180deg);
}

.class-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.class-box {
    list-style-type: disc;
    display: block;
    background-color: gray;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 10px;
}

.hide {
    display: none;
}

.class-box li {
    padding: 10px 0px 0px 0px;
    color: lightcoral;
}

.assignment-label {
    color: white;
}

.assignment-btn {
    text-align: center;
    padding: 3px 6px;
    border-radius: 7px;
    background-color: lightcoral;
    color: white;
}

.assignment-btn:hover {
    background-color: rgb(255, 103, 89);
}

.assignment-btn:focus {
    background-color: rgb(227, 60, 46);
}

.settings-option {
    margin: 0px 0px 10px 0px;
    justify-items: center;
    align-items: center;
}

.checkbox {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-left: 10px;
}

.checkbox-label {
    justify-self: left;
}

#top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

#page-title {
    text-align: center;
    flex-grow: 1;
}

#container {
    display: grid;
    grid-template-columns: 50vw 50vw;
}

#settings-container {
    margin: 10px 20px;
}

#checkbox-container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-row-gap: 10px;
}

#canvas-api-token-input {
    width: 400px;
}