@font-face {
    font-family: 'Poppins Extra Light';
    src: url('../fonts/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

:root {
    --accent-color: rgb(255, 66, 66);
    --accent-color-hover: hsl(0, 100%, 40%);
    --accent-color-press: hsl(0, 100%, 30%);

    --primary-color: rgb(43, 81, 125);
    --primary-color-hover: hsl(212, 49%, 25%);
    --primary-color-press: hsl(212, 49%, 18%);

    --secondary-color: hsl(0, 0%, 34%);
    --secondary-color-hover: hsl(0, 0%, 28%);

    --text-color: white;
    --background-color: rgb(39, 39, 39);
    --bottom-bar-color: rgba(39, 39, 39, 0.9);
    --shadow-color: black;
    --disabled-text-color: rgb(121, 121, 121);
    --disabled-background-color: #303030;

    --placeholder-text-color: rgb(150, 150, 150);
    --placeholder-text-color-disabled: rgba(150, 150, 150, 0.164);

    --border-radius: 6px;
    --border-radius-extra: 12px;
    --border-radius-widget: 20px;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--disabled-background-color);
}

body::-webkit-scrollbar-thumb {
    background-color: hsl(214, 47%, 12%);
    border-radius: 20px;
    border: 2px solid transparent;
    
    transition: all 0.2s;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: hsl(214, 47%, 7%);
}

span {
    font-family: 'Poppins Regular';
}

h1 {
    font-family: 'Poppins Bold';
    color: var(--text-color);
    text-align: center;
}

h2 {
    font-family: 'Poppins Bold';
    color: var(--text-color);
    padding: 0;
    margin: 0;
    text-align: center;
}

#credit-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-break { 
    flex-basis: 100%;
}

#credit-author-label {
    flex: 1;
}

.website-link-btn {
    background-color: transparent;
    box-shadow: none;

    margin: 0px 5px;
    margin-top: 5px;

    transition: transform 0.1s;
}

.website-link-btn:hover {
    /* background-color: var(--secondary-color); */
    /* background-color: transparent; */
    /* box-shadow: none; */
    transform: scale(1.15);
}

h3 {
    font-family: 'Poppins Regular';
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

#website-btn {
    background-color: var(--primary-color);

    transition: transform 0.1s;
}

#website-btn:hover {
    transform: scale(1.05);
}

#is-this-you-label {
    margin: 0;
    /* margin-bottom: 5px; */
    padding: 0;
}

.credits-header-title {
    margin: 5px;
}

ul {
    list-style-type: none;
}

li {
    color: var(--text-color);
    font-family: 'Poppins Regular';
}

.credits-list {
    margin: 3px;
}

.credits-list-container {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

#copyright-label {
    font-size: medium;
}

p {
    padding: 0;
    margin: 0;
    font-family: 'Poppins Regular';
    color: var(--text-color);
}

label {
    margin-right: 5px;
    font-family: 'Poppins Regular';
    color: var(--text-color);
}

input {
    width: 200px;
    font-family: 'Poppins Regular';
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: 1px 3px 10px var(--shadow-color);
    padding: 3px;

    transition: all 0.2s;
}

input:disabled {
    color: var(--disabled-text-color);
    background-color: var(--disabled-background-color);
}

input:not(:disabled)::placeholder {
    color: var(--placeholder-text-color);
}

input::placeholder {
    color: var(--placeholder-text-color-disabled);
}

button {
    font-family: 'Poppins Regular';
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    padding: 5px 10px;
    box-shadow: 1px 3px 10px var(--shadow-color);
}

select {
    font-family: 'Poppins Regular';
    border: none;
    border-radius: var(--border-radius);
    
    color: var(--text-color);
    background-color: var(--secondary-color);
    margin-right: 5px;

    box-shadow: 1px 3px 10px var(--shadow-color);
    padding: 2px;

    transition: transform 0.1s ease;
}

select:hover {
    background-color: var(--secondary-color-hover);
    transform: scale(1.1);
}

.link-btn {
    padding: 5px;
    color: var(--text-color);
    transition: transform 0.2s ease;
}

.link-btn-setup {
    margin: 2px;
    padding: 5px;
    color: var(--text-color);
    transition: transform 0.15s ease;
}

.link-btn-setup:hover {
    transform: scale(1.2);
}

.link-btn:hover {
    transform: scale(1.2);
}

.link-btn-image {
    width: 40px;
    color: white;
}

.small-link-btn-image {
    width: 25px;
    color: white;
}

.container {
    text-align: center;
    padding: 15px;
    padding-top: 0px;
}

.profile-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px;
    border: 5px solid var(--primary-color);
    box-shadow: 1px 3px 10px var(--shadow-color);
}

#setup-login-container {
    padding: 15px;
    margin-bottom: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1 1;
    grid-template-rows: 2;
}

#setup-profile-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info-widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 15px;
}

.setup-input-label-container {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
}

#input-container {
    display: flex;
    margin: 0px 0px 20px 0px;
}

.input-label {
    padding: 5px;
    font-size: large;
    font-family: 'Poppins Regular';
}

.connect-input {
    width: 300px;
    height: 25px;
    background-color: transparent;
    border-radius: var(--border-radius);
    padding: 5px;
}

#connect-btn {
    flex: 1;
    width: 250px;
    height: 40px;
    border-radius: var(--border-radius-extra);
    font-size: large;
    font-family: 'Poppins Bold';
    background-color: var(--accent-color);
    box-shadow: 1px 3px 15px var(--shadow-color);
    text-align: center;

    pointer-events: all;
    transition: 0.1s transform ease, 0.3s background-color;
}

#welcome-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-icon {
    width: 256px;
    height: 256px;

    filter: drop-shadow(5px 5px 10px var(--shadow-color));
}

#welcome-label {
    text-shadow: 5px 5px 5px var(--shadow-color);
}

#welcome-btn {
    font-family: 'Poppins Bold';
    font-size: large;
    padding: 8px 25px;
    border-radius: var(--border-radius-extra);
    background-color: var(--accent-color);

    transition: 0.1s transform;
}

#welcome-btn:hover {
    transform: scale(1.1);
}

#spinner {
    margin-top: 1px;

    animation: rotating 1.3s linear infinite;
}

#setup-spinner {
    margin-top: 0;

    animation: rotating 1.3s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#connect-btn:hover {
    transform: scale(1.1);
}

#connect-btn:disabled {
    background-color: var(--disabled-text-color);
    pointer-events: none;
}

.container-column {
    margin: 0;
    padding: 0px;
    margin: 0px 15px;
    min-width: fit-content;
}

.class-item {
    box-shadow: 1px 3px 15px var(--shadow-color);
    border-radius: var(--border-radius);
    transition: transform 0.15s ease;
    margin: 10px 0px;
    min-width: fit-content;
}

.class-item:hover {
    transform: scale(103%);
}

.class-header {
    cursor: pointer;
    padding: 7px;
    border-radius: var(--border-radius);

    transition: border-radius 0.15s ease;

    color: var(--text-color);
    background-color: var(--primary-color);
}

.class-header.active {
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;

    transition: border-radius 0.3s ease;
}

.class-header-arrow {
    border-bottom: 12px solid var(--accent-color);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    width: 0;
    transform: rotate(90deg);
    justify-self: center;
    align-self: center;
    display: inline-block;
    margin: 0px 5px;
    transition: transform ease-out 0.3s;
}

.active .class-header-arrow {
    transform: rotate(180deg);
}
  
.class-box {
    list-style-type: disc;
    display: block;
    background-color: var(--secondary-color);
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    padding-right: 10px;
    padding-bottom: 10px;
    opacity: 1;
    margin: 0;
    transition: opacity 0.3s ease;
    align-self: flex-start;
    height: auto;
}

.class-box.collapse {
    opacity: 0;
    height: 0;
    padding-bottom: 0;
    pointer-events: none;

    transition: none;
}

.class-box li {
    padding: 5px 0px 0px 0px;
    color: var(--accent-color);
}

.assignment-label {
    font-family: 'Poppins Light';
    overflow: hidden;
}

.assignment-btn {
    text-align: center;
    padding: 3px 6px;
    margin-left: -2px;
    border-radius: 7px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-family: 'Poppins Regular';
    border: 3px solid var(--primary-color);
    transition: transform ease 0.1s, box-shadow 0.2s ease;

    box-shadow: none;
}

.assignment-btn:hover {
    box-shadow: 1px 3px 10px var(--shadow-color);
}

.assignment-btn:active {
    background-color: var(--accent-color-press);
}

.settings-option {
    margin: 10px 0px;
    justify-items: center;
    align-items: center;
    min-width: fit-content;
    /* box-shadow: 1px 3px 15px var(--shadow-color); */
}

#setup-settings-container {
    margin: 0px 15px;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1;
}

.select-label {
    display: block;
}

.setup-settings-option {
    margin: 5px;
    align-items: center;
}

.multi-select-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

#done-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px;
    background-color: var(--bottom-bar-color);
}

#information-warning-container {
    margin: 15px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#done-btn {
    width: 155px;
    height: 35px;
    font-size: 1rem;
    background-color: var(--accent-color);
    font-family: 'Poppins Bold';

    transition: 0.1s transform;
}

#done-btn:hover {
    transform: scale(1.1);
}

#how-long-past-due-time-container {
    margin-bottom: 8px;
}

.checkbox {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-left: 10px;
    accent-color: var(--primary-color);

    transition: transform 0.1s ease;
}

.checkbox:hover {
    transform: scale(1.15);
}

.checkbox-label {
    justify-self: left;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    vertical-align: middle;
    box-shadow: 1px 5px 10px var(--shadow-color);
    border-radius: 34px;

    transition: transform 0.1s;
}

.switch:hover {
    transform: scale(1.15);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: 0.3s;
}

.slider:hover {
    transition: 0.1s;
    background-color: var(--secondary-color-hover);
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;

    box-shadow: 2px 2px 5px var(--shadow-color);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:hover {
    transition: 0.1s;
    background-color: var(--primary-color-hover);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color-hover);
}

input:checked + .slider:before {
    transform: translateX(19px);
}

.input-btn {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    margin: 0px 5px;
    padding: 3px 8px;

    box-shadow: 1px 3px 10px var(--shadow-color);

    transition: transform 0.1s ease;
}

.input-btn:hover {
    background-color: var(--primary-color-hover);
    transform: scale(1.15);
}

.separator {
    background: var(--primary-color);
    width: 100%;
    height: 2px;
}

#separator-container {
    margin: 0px 10px;
}

.separator-thick {
    background: var(--primary-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    box-shadow: 1px 3px 10px var(--shadow-color);
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: flex-start;
    justify-items: left;
}

.checkbox-column {
    margin: 10px 0;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-row-gap: 10px;
    column-gap: 15px;
}

.small-info-widget {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: var(--border-radius-extra);
    box-shadow: 1px 3px 10px var(--shadow-color);
    text-align: center;
}

.info-widget {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: var(--border-radius-widget);
    box-shadow: 1px 3px 10px var(--shadow-color);
    text-align: center;
}

#top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    min-width: fit-content;
}

.text-shadow {
    text-shadow: 5px 5px 5px var(--shadow-color);
}

#page-title {
    text-align: center;
    flex-grow: 1;
    text-shadow: 5px 5px 5px var(--shadow-color);
}

#class-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#loading-or-error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#yes-no-container {
    display: flex;
    gap: 15px;
    margin: 15px;
}

.profile-btn {
    width: 80px;
    height: 40px;
    font-size: medium;
    border-radius: var(--border-radius-extra);
    box-shadow: 1px 3px 10px var(--shadow-color);
    font-family: 'Poppins Bold';

    transition: all 0.1s;
}

.profile-btn:hover {
    transform: scale(1.1);
}

#yes-btn {
    background-color: green;
}

#no-btn {
    background-color: red;
}

#load {
    flex-grow: 1;
}

#settings-container {
    margin: 10px 15px;
}

#canvas-base-url-input {
    width: 225px;
}

#canvas-api-token-input {
    width: 350px;
    text-overflow: ellipsis;
}

#loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--background-color);
}

#credits-container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    left: 0;
    right: 0;
    padding: 10px;
    /* margin-bottom: 10px; */
    gap: 10px;
    background-color: var(--bottom-bar-color);
}

.bottom-text {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: var(--bottom-bar-color);
}

.error.bottom-text {
    color: var(--accent-color);
}

.info.bottom-text {
    color: var(--accent-color);
}

.credits-header {
    margin: 10px;
    margin-top: 20px;
}

.invisible {
    visibility: hidden;
}

#credits-link-btn {
    border-radius: var(--border-radius);
    padding: 3px 8px;
    text-align: center;
    background-color: var(--primary-color);
}

#credits-link-btn:hover {
    background-color: var(--primary-color-hover);
}

#credits-link-btn:active {
    background-color: var(--primary-color-press);
}

#credits-author-label {
    margin-top: 1px;
}

@media (min-width: 900px) {
    #class-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.hide {
    display: none !important;
}

.disable {
    filter: brightness(50%);
    pointer-events: none !important;
}

#setup-login-container.disable #connect-btn {
    pointer-events: none !important;
}